# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

java_*.hprof
runNoConfig/
integration/botania/libs/Botania-unofficial.r1.8-309-sources.jar
