{
    name: "Sample File",
    description: "Sample file for reference; will do weird things with dyes as configured below.",
    sets: [
        {
            name: "default",
            operations: [
                {
                    type: "remove",
                    what: "minecraft:lapis_block"
                },
                {
                    type: "addShaped",
                    output: "minecraft:dye:0",
                    quantity: 1,
                    with: [
                        "", "minecraft:stick","",
                        "minecraft:stick", "", "minecraft:stick"
                    ]
                },
                {
                    type: "addShapeless",
                    output: "minecraft:dye:1",
                    quantity: 5,
                    with: ["minecraft:dye:0"]
                }
            ]
        }
    ]
}